[Unit]
Description=Close control WAL segment hourly

[Timer]
OnCalendar=hourly
Persistent=true
Unit=dial-control-wal-switch.service

[Install]
WantedBy=timers.target
